<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
    <link href="/center/static/css/comm.css" rel="stylesheet" type="text/css">
    <link href="/center/static/css/child.css" rel="stylesheet" type="text/css">
	</head>
	<body>
    <div class="main" id="main" v-cloak v-if="utoken">
     <div class="hd">
       <h1>评论管理</h1>
     </div>
     <div class="mc">
       <div class="sc">
         <button type="button" class="btnblue" @click="query">刷新</button>
       </div>
       <div class="sm">
         <div class="slist" v-if="list[0]">
           <div class="slci comli" v-for="item in list">
             <div class="lavt">
               <img class="cmavt" :src="item.avt"/>
               <p :class="statusCss[item.status]">{{status[item.status]}}</p>
             </div> 
             <div class="cminf">
               <h1><span>{{ item.name }}</span>  <em>{{ item.send_time }}</em></h1>
               <h1><b>原文：</b><a target="_blank" :href="'/post/'+item.purl+'.html'">{{ item.title }}</a></h1>
               <div class="fcoms" v-if="item.fid!=0">
                <b>原评：</b><p><span>{{ item.fname }}</span>:<em>{{ item.fcoms }}</em></p>
               </div>
               <div class="coms">
                <b>内容：</b><p class="icoms">{{ item.coms }}</p>
               </div>
               <div class="acoms" v-if="item.aid != 0">
                <b>回复：</b><p><span>{{ item.acoms }}</span></p>
               </div>
             </div>
             <button type="button" v-if="item.status == 1" class="btnblue" @click="reback(item)">回复</button>
             <button type="button" v-if="item.status == 0" class="btnblue" @click="edit(item)">审核</button>
           </div>
         </div>
         <div class="slist" v-else>
            <p class="nuli">暂未检索到相关内容</p>
         </div>
       </div>
       <div class="spage" v-if="search.pages <= 7">
         <div v-for="n in search.pages" class="spi" :class="{'ck':search.page == n}" @click="toPage(n)">{{n}}</div>
       </div>
       <div class="spage" v-if="search.pages > 7 && search.page <5">
         <div v-for="n in 5" class="spi" :class="{'ck':search.page == n}" @click="toPage(n)">{{n}}</div>
         <div class="spi" @click="toPage(6)">...</div>
         <div class="spi" @click="toPage(search.pages)">{{search.pages}}</div>
       </div>
       <div class="spage" v-if="search.pages > 7 && search.page >=5 && search.page <= search.pages - 4">
         <div class="spi" @click="toPage(1)">1</div>
         <div class="spi" @click="toPage(search.page-2)">...</div>
         <div class="spi" @click="toPage(search.page-1)">{{search.page-1}}</div>
         <div class="spi ck" @click="toPage(search.page)">{{search.page}}</div>
         <div class="spi" @click="toPage(search.page+1)">{{search.page+1}}</div>
         <div class="spi" @click="toPage(search.page+2)">...</div>
         <div class="spi" @click="toPage(search.pages)">{{search.pages}}</div>
       </div>
       <div class="spage" v-if="search.pages > 7 && search.page >=5 && search.page > search.pages - 4">
         <div class="spi" @click="toPage(1)">1</div>
         <div class="spi" @click="toPage(search.pages - 5)">...</div>
         <div class="spi" :class="{'ck':search.page == search.pages - 4}" @click="toPage(search.pages - 4)">{{search.pages-4}}</div>
         <div class="spi" :class="{'ck':search.page == search.pages - 3}" @click="toPage(search.pages - 3)">{{search.pages-3}}</div>
         <div class="spi" :class="{'ck':search.page == search.pages - 2}" @click="toPage(search.pages - 2)">{{search.pages-2}}</div>
         <div class="spi" :class="{'ck':search.page == search.pages - 1}" @click="toPage(search.pages - 1)">{{search.pages-1}}</div>
         <div class="spi" :class="{'ck':search.page == search.pages}" @click="toPage(search.pages)">{{search.pages}}</div>
       </div>
     </div>
     <div class="pope popd">
       <div class="tage comme">
         <div class="tse">
           <h5>编辑评论</h5>
           <div class="tade">原文链接：<a target="_blank" :href="'/post/'+item.purl+'.html'">{{ item.title }}</a></div>
           <div class="tade">用户昵称：<input type="text" v-model="item.name" /></div>
           <div class="tade">用户邮箱：<input type="text" v-model="item.email" /></div>
           <div class="tade">用户扣扣：<input type="text" v-model="item.qq" /></div>
           <div class="tade">用户网址：<input type="text" v-model="item.url" /></div>
           <div class="tade">评论内容：<textarea placeholder="" v-model="item.coms"></textarea></div>
           <div class="tade">原评摘要：
           <div class="fcoms" v-if="item.fid!=0">
                 <p>{{ item.fname }} {{ item.fcoms }} </p>
               </div>
           </div>
           <button type="button" class="btnblue" @click="save(1)">审核通过</button>
           <button type="button" class="btnred" @click="save(3)">删除</button>
           <button type="button" class="btngray" @click="clsPop">取消</button>
         </div>
       </div>
     </div>
     <div class="pope popb">
       <div class="tage comme">
         <div class="tse">
           <h5>回复评论</h5>
           <div class="tade">原文链接：<a target="_blank" :href="'/post/'+item.purl+'.html'">{{ item.title }}</a></div>
           <div class="tade">用户昵称：<div class="fcoms"><p>{{ item.name }}</p></div></div>
           <div class="tade">用户邮箱：<div class="fcoms"><p>{{ item.email }}</p></div></div>
           <div class="tade">用户扣扣：<div class="fcoms"><p>{{ item.qq }}</p></div></div>
           <div class="tade">用户网址：<div class="fcoms"><p>{{ item.url }}</p></div></div>
           <div class="tade">评论内容：<div class="fcoms"><p>{{ item.coms }}</p></div></div>
           <div class="tade">回复内容：<textarea placeholder="" v-model="ritem.coms"></textarea></div>
           <button type="button" class="btnblue" @click="replay()">确认</button>
           <button type="button" class="btngray" @click="clsPop">取消</button>
         </div>
       </div>
     </div>
    </div>
    <script src="/static/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/static/lib/vue/vue.min.js"></script>
    <script src="/static/lib/vue/vue-axios.js"></script>
    <script src="/static/lib/vue/axios.min.js"></script>
    <script src="/center/static/js/comm.js?v=1.0"></script> 
     <script src="/center/static/js/api.js"></script>
     <script src="/static/js/popup.js"></script>  
    <script src="/center/static/js/comms.js?v=1.0"></script>  
	</body>
</html>