*{margin:0;padding:0;text-decoration:unset;font-family:'Microsoft YaHei','SimHei',-apple-system,BlinkMacSystemFont;color:#1c2135;font-size:15px;box-sizing:border-box;border-radius: 10px}
body{background:#f4f4f4;position:relative}
.trans,.trans *{transition:all .4s ease}
h1,h2,.ttit p{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-weight:normal}
header{height:70px;position:absolute;width:100%;padding:0 30px}
img{width:100%;height:100%;display:block}
.h{display:flex;position:relative;height:70px}
.logo{background:url(/static/img/logo.png) no-repeat;height:50px;width:112px;position:absolute;margin:10px 0}
.menu{width:480px;text-align:center;display:flex;margin:0 auto}
.menu a{display:inline-block;width:50px;height:50px;line-height:50px;margin:10px 5px;border-radius:25px;font-weight: 900}
.menu a:hover{background:#1c2135;color:#4e7ca1}
.the{position:absolute;right:0;height:34px;margin:18px 0;width:68px;display:flex;justify-content:space-around;overflow:hidden}
.the img{width:30px;height:30px;margin:2px;display:inline-block;z-index:2;cursor:pointer}
.thec{position:absolute;left:34px;width:34px;background:#1c2135;height:34px;z-index:1;border-radius:17px}
.w{width:1200px;margin:0 auto;position:relative}
.t{display:flex;flex-wrap:wrap;position:relative;margin:-5px}
.tt{padding: 15px 0}
.c{display:flex;flex-wrap:wrap;position:relative;padding:5px;width:100%}
.td{margin:5px -10px}
.cd{padding:10px}
.c_2{width:50%}
.c_3{width:33.33%}
.c_4{width:25%}
.c_3_2{width:66.66%}
.top{height:auto;padding:110px 0 160px 0;background:#4e7ca1;border-radius: 0}
.top .t.c_2{width:calc(50% + 10px)}
.top .c_2 .timg{height:360px}
.top .c_2 .c_2 .timg{height:175px}
.timg,.tmimg{width:100%;position:relative;overflow:hidden;background:rgba(255,255,255,0.1);cursor:pointer}
.timg:hover img,.tmimg:hover img,.hot:hover img{transform:translateZ(0) scale(1.1)}
.timg:hover .ttit,.tmimg:hover .ttit{padding:40px 15px 20px 15px}
.ttit{position:absolute;bottom:0;padding:30px 15px 15px 15px;width:100%;background:linear-gradient(transparent,rgba(0,0,0,0.7))}
.ttit h1{color:#fafafa;line-height:30px}
.ttit p{font-size:13px;line-height:20px;color:#aaa}
.ttit p.ttc{text-align:right;color:#fafafa}
.ttit p.ttc span{display:inline-block;margin:0 5px;color:#d8cdb0}
.tmimg{height:175px}
.main{position:relative}
.m{position:relative;top:-100px;margin:0 auto;background:#fafafa;box-shadow:0 30px 50px 0 rgb(1 1 1 / 15%);padding:15px}
.box{width:100%}
.btop{position:relative;width:100%}
.btop h1{line-height:3;font-size:17px;font-weight:900}
.btop .l,.btop .f{position:absolute;bottom:0;z-index:1;background:#e4eaf1;height:3px;width:100%}
.btop .f{z-index:2;width:33px;background:#4e7ca1}
.hot {
    width: 100%;
    display: flex;
    cursor: pointer;
    border-bottom: 1px solid #fafafa;
    border-radius: 0;
}
.hot:hover{ border-bottom: 1px solid #4e7ca1;}
.hot:hover h1,.hot:hover .hotin p{color: #4e7ca1}
.hotl{
  margin-top: 5px;
  border: 0!important;
}
.hot .himg {
    height: 225px;
    overflow: hidden;
}

.hotin {
    width: 70px;
}

.hoti {
    width: calc(100% - 70px);
}

.hoti h1 {
    line-height: 24px;
    height: 48px;
    white-space: unset;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.hoti p {height: 22px;display: flex;}

.hoti p span {
    line-height: 24px;
    font-size: 12px;
    color: #888;
}

.hotin p {
    text-align: center;
    width: 50px;
    font-size: 18px;
    margin: 10px 20px 10px 0;
    background: #ccc;
    color: #999;
    line-height: 50px;
    border-radius: 25px;
}

.hotl .hotin p {
    border-left: 1px solid;
    border-radius: 0;
    background: unset;
    font-weight: 900;
    margin: 10px;
    font-style: italic;
    font-size: 24px;
}


body.dark{background:#22272e}
.dark *{color:#d8cdb0}
.dark img{filter:brightness(85%) contrast(100%)}
.dark .top{background:#273f52}
.dark .logo{background-position-y:-50px}
.dark .menu a:hover{color:#273f52;background:#bbb4a2}
.dark .thec{background:#d8cdb0;left:0}
.dark .ttit h1{color:#d8cdb0}
.dark .ttit p{color:#aaa}
.dark .ttit p.ttc{color:#d8cdb0}
.dark .ttit p.ttc span{color:#fafafa}
.dark .m{background:#1c2128}
.dark .btop .l{background:#353f4c}
.dark .btop .f{background:#3d5c75}
.dark .hot {
    border-bottom: 1px solid #1c2128;
}
.dark .hot:hover{ border-bottom: 1px solid #4e7ca1;}
.dark .hotin p {
    background: #353f4c;
}
.dark .hotl .hotin p {
  background: unset;
}