*{margin:0;padding:0;text-decoration:unset;font-family:'Microsoft YaHei','SimHei',-apple-system,BlinkMacSystemFont;color:#1c2135;font-size:15px;box-sizing:border-box}
body{background:#f4f4f4;position:relative}
@font-face{font-family:acidic;src:url(/static/css/acidic.woff)}
.trans,.trans *{transition:all .4s ease}
h1,h2{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-weight:normal}
header{height:70px;position:absolute;width:100%;padding:0 30px}
.h{display:flex;position:relative;height:70px}
.logo{background:url(/static/img/logo.png) no-repeat;height:50px;width:120px;position:absolute;margin:10px 0}
.menu{width:480px;text-align:center;display:flex;margin:0 auto}
.menu a{display:inline-block;width:50px;height:50px;line-height:50px;margin:10px 5px;border-radius:25px}
.menu a:hover{background:#1c2135;color:#8794c0}
.the{position:absolute;right:0;height:34px;margin:18px 0;width:68px;display:flex;border-radius:17px;justify-content:space-around;overflow:hidden}
.the img{width:30px;height:30px;margin:2px;display:inline-block;z-index:2;cursor:pointer}
.thec{position:absolute;left:34px;width:34px;background:#1c2135;height:34px;z-index:1;border-radius:17px}
.tit{width:100%}
.tit h1{font-family:acidic;line-height:60px;font-size:60px;padding:10px 0 5px 0}
.tite{width:240px;text-align:center;position:relative;margin:0 auto}
.tite h2{position:absolute;right:0;top:0;width:165px;line-height:30px;font-weight:900;font-size:12px}
.tit h1,.tite h2{color: #1c2135;}
.pbs{display:flex;border-radius:6px;overflow:hidden}
.pbl{width:80px;height:80px;overflow:hidden;background:rgba(255,255,255,0.5)}
.pbl img{display:block;width:80px;height:80px}
.pbs:hover .pbl img{transform:translateZ(0) scale(1.1)}
.pbr{width:calc(100% - 80px);padding:5px 15px}
.pbr h1{line-height:25px;height:50px;text-overflow:ellipsis;white-space:unset;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;font-size:14px;overflow:hidden}
.pbde{line-height:20px;color:#273f52;font-size:13px}
.top{height:auto;padding:110px 0 160px 0;background:#4e7ca1}
.top .pbr{background:rgba(255,255,255,0.1)}
.top .pbs:hover .pbr h1{color:#dee7fe}
.w{width:1200px;margin:0 auto;position:relative}
.t{display:flex;flex-wrap:wrap;position:relative;margin:-15px}
.c{display:flex;flex-wrap:wrap;position:relative;padding:15px}
.c_2{width:50%}
.c_3{width:33.33%}
.c_3_2{width:66.66%}
.main{position:relative}
.m{position:relative;height:100vh;top:-100px;margin:0 auto;background:#fafafa;border-radius:20px;box-shadow:0 30px 50px 0 rgb(1 1 1 / 15%);padding:20px 0}
.r{display:flex}
body.dark{background:#22272e}
.dark .top{background:#273f52}
.dark .logo{background-position-y:-50px}
.dark .menu a{color:#d8cdb0}
.dark .menu a:hover{color:#3e4766;background:#bbb4a2}
.dark .thec{background:#d8cdb0;left:0}
.dark .top .pbr{background:rgba(0,0,0,0.1)}
.dark .pbr h1{color:#d8cdb0}
.dark .pbde{color:#4e7ca1}
.dark .m{background:#1c2128}
.dark .tit h1,.dark .tite h2{color: #d8cdb0;}