.namee{display:flex}
.navt{width:120px;height:120px;margin:10px;position:relative;cursor:pointer}
.nxinfo{margin:5px;width:calc(100% - 150px);display:flex;flex-wrap:wrap}
.nipt{margin:0 5px;width:calc(50% - 10px)}
.nipt p{font-size:13px;font-weight:900;line-height:24px}
.nipt input,.ctxe textarea{width:100%;font-size:14px}
.nipt input{line-height:34px;padding:0 5px}
.navt p{position:absolute;bottom:5px;z-index:1;width:80px;text-align:center;line-height:28px;left:20px;color:#f9f9f9;font-size:13px;}
.ctxe{margin:10px}
.ctxe textarea{resize:none;height:90px;line-height:25px;padding:5px}
.sendc{margin:10px;text-align:right}
.sendc a{display:inline-block;line-height:35px;width:200px;/* background:#5891ab; */text-align:center;color:#f0f0f0;font-size: 14px;}
.navt p:hover,.sendc a:hover{font-size: 15px;}
.commi {
    background: #fdfdfd;
    padding: 15px;
    margin-bottom: 15px;
}
.commi p{text-align: center;font-size: 16px;margin-bottom: 10px;}
.ckOrder {
    width: 160px;
    margin-left: calc(50% - 80px);
    display: flex;
    overflow: hidden;
    /* border: 2px solid #5891ab; */
}

.ckOrder span {
    cursor: pointer;
    width: 50%;
    display: block;
    line-height: 30px;
    text-align: center;
    color: #fdfdfd;
    font-size: 14px;
    border-radius: 0;
    /* background: #5891ab; */
}

.ckOrder span.cko {
    background: rgba(255,255,255,0.9);
    color: #5891ab;
    font-size: 15px;
}

.ckOrder span:hover {
    font-size: 15px;
}
.comml{padding:5px}
.comml .comli{display:flex}
.comml .comli img{width:60px;height:60px;border-radius:30px}
.comml li{list-style:none;padding-bottom:15px;margin-bottom:15px;border-bottom:1px solid #e3ebee}
.comp{width:calc(100% - 60px);padding-left:10px}
.comp h1{line-height:30px;color:#888;font-size:13px;font-weight:normal}
.comp h1 b a{display:inline-block;max-width:120px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;line-height: 1;margin:0 5px;margin-bottom: -2px;color:#5891ab;font-size: 15px;border: unset;padding: unset;border-radius: unset;}
.comp h1 a{font-size:12px;color:#5891ab;margin:0 5px;line-height:22px;padding:0 10px;border:1px solid;display:inline-block;border-radius:12px}
.comp h1 a:hover{color:#feffff;background:#e3ebee}
.comp p{position:relative;padding:10px;background:#f2f7f8;line-height:1.5;border-radius:6px;margin-top:5px;font-size:14px}
.comp p:after{content:"";position:absolute;display:block;left:10px;top:-8px;width:0;height:0;border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:10px solid #f2f7f8}
.comml ul ul li{border:0;padding:0;margin:10px 0 10px 20px}
.comml ul ul li .comp{width:100%}
.comore{text-align:center;line-height:30px;padding-bottom:10px}
.comore a{color:#5891ab;font-weight:900}
.dark .navt p,.dark .sendc a{/* background:#2d8cb7 */}
.dark .navt p:hover,.dark .sendc a:hover{background:#5891ab}
.dark .sendc a.rcls{background:#1a1e23}
.dark .comp h1{color:#adbac7}
.dark .comp h1 b,.dark .comp h1 a,.dark .comore a{color:#2d8cb7}
.dark .comp h1 a:hover{color:#2d333b;background:#010101}
.dark .comp p{color:#adbac7;background:#222b35}
.dark .comp p:after{border-bottom:10px solid #222b35}
.dark .comml li{border-bottom:1px solid #010101}
.dark .comml ul ul li{border:0}
.dark .ckOrder {
    /* border: 2px solid #2d8cb7; */
}

.dark .ckOrder span {
    /* background: #2d8cb7; */
    color:#1c2128;
}

.dark .ckOrder span.cko {
    background: #222b35;
    color: #2d8cb7;
}
.dark .commi {
    background:#1c2128;
}
p#comolod {
    animation: bigsmal 1s linear infinite normal;
}
.commbox {
    position: relative;
    overflow: hidden;
    height: auto;
}
.commbox.zdbox{
  height: 400px;
}
.zdi {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0px;
    width: 100%;
    background-image: linear-gradient(transparent , #fdfdfd 75%);
}
.zdbox .zdi{height: 250px;}

.zdi a {
    line-height: 40px;
    margin: 0 auto;
    margin-top: 150px;
    display: block;
    font-size: 16px;
    font-weight: 900;
    text-align: center;
    color: #f3f6f8;
    width: 100px;
}
.dark .zdi {background-image: linear-gradient(transparent , #1c2128 75%);}
.dark .zdi a{/* color: #2d8cb7; */}
@keyframes bigsmal{
50%{transform: scale(1.2);}
}