.bann{width:100%;height:435px}
.bann.swiper-container-horizontal>.swiper-pagination-bullets{bottom:10px;width:150px;left:unset;right:10px}
.bann span.swiper-pagination-bullet{width:25px;height:10px;border-radius:4px;background:#ab3737}
.fm .swiper-button-next,.fm .swiper-button-prev{background:rgba(255,255,255,0.8);width:50px;height:50px;margin-top:-25px}
.fm .swiper-button-next{right:0}
.fm .swiper-button-prev{left:0}
.fm .swiper-button-next:after,.fm .swiper-button-prev:after{font-size:30px;color:#ab3737}
.mine{background: #f9f9f9;height:435px;padding:5px;}
.meavt{display:flex;padding:7px 5px}
.avtor{display:block;width:90px;height:90px;border-radius:45px}
.amore{width:40px}
.ainfo{width:calc(100% - 140px);margin-left:10px}
.ainfo h1{line-height:30px;margin-top:5px}
.ainfo p{margin:5px 0;line-height:20px;font-size:12px}
.mecon{display:flex;justify-content:center;margin:10px 0}
.conn{width:60px;height:60px;margin:5px;background-image:url(../img/conn_icons.png)}
.cwx{background-position-x:60px}
.cml{background-position-x:120px}
.cge{background-position-x:180px}
.cgb{background-position-x:240px}
.conn:hover{transform:scale(0.9);opacity:.8}
.mequc{display:flex;flex-wrap:wrap}
.mequci{width:50%;height:115px;padding:10px}
.mequci *{width:100%;height:100%;display:block}
.mequci a{position:relative;overflow:hidden}
.mr{position:absolute;right:0}
.lm{}
.pm a,.lm a,.itm{display:flex;flex-wrap:wrap}
.lm a{margin:5px 0}
.pimel{width:100px;height:65px;overflow:hidden;position:relative}
.lm .pimel{width:35px;height:35px;margin: 14.5px 7.5px;background:#f0f0f0;color:#ab3737;border-radius:10px;line-height:34px;text-align:center;}
.lm .pimel.ltop{background:#ab3737;color:#f0f0f0}
.pinfr{width:calc(100% - 100px);padding-left: 7px;}
.pm a .pinfr h2{
    padding: 2.5px 0;
}
.pinfr .pdesc,.pbline  .pdesc{
    line-height: 17px;
    -webkit-line-clamp: 2;
    height: 35px;
}
.pbline  .pdesc{
    color: #444;
}
.lm .pinfr{width:calc(100% - 50px);padding: 5px 0;}
.lm .pinfr h2{
    line-height: 44px;
}
.fm{height:520px}
.fm .swiper-slide{display:flex;flex-wrap:wrap}
.fm a,.fulla{position:relative;overflow:hidden;display:block;height:240px;width:calc(50% - 20px);margin:10px}
.pbline{position:absolute;z-index:10;bottom:0;height: 90px!important;padding: 10px;background: rgba(240,240,240,0.7);width: 100%;}
.pbline h2{color:#000}
a:hover .pbline{height: 110px!important;padding: 20px 10px!important;background: rgba(240,240,240,0.9);}
.itm a{width:calc(25% - 10px);margin:7px 5px;display:block}
.itm img,.itm svg{width:60px;height:60px;margin:8px auto;display:block;padding:5px}
.itm a h2{line-height:40px;text-align:center;height:40px;padding:0}
.iag{text-align:center;padding:10px}
.iag .ags{height:100%;overflow:hidden;height:590px}
.iag a{display:inline-block;line-height:30px;border: 1px solid;padding:0 15px;margin:5px;font-size:14px;}
.iag a:hover{color: #bd3737;}
.lk{text-align:center}
.lk a{line-height:25px;padding:5px 15px;margin:5px;display:inline-block;border: 1px solid;}
.lk a.lmr{line-height:30px;border: 1px solid #ab3737;width:120px;margin:8px;background: #f9f9f9;}
.lk a:hover{color:#ab3737;background:#f9f9f9;}
.dark .bann span.swiper-pagination-bullet{background:#539bf5}
.dark .mine{background:#22272e}
.dark .conn{background-position-y:60px}
.dark .fm .swiper-button-next,.dark .fm .swiper-button-prev{background:rgba(0,0,0,0.8)}
.dark .fm .swiper-button-next:after,.dark .fm .swiper-button-prev:after{color:#539bf5}
.dark .lm .pimel{background:#22272e;color:#539bf5}
.dark .lm .pimel.ltop{background:#539bf5;color:#22272e}
.dark .pbline{background: rgba(34,39,46,0.7);}
.dark a:hover .pbline{
    background: rgba(34,39,46,0.9);
}
.dark .pbline h2{color:#e2f1ff;}
.dark .pbline .pdesc{color:#adbac7}
.dark .iag a{}
.dark .iag a:hover{color: #539bf5;}
.dark .lk a{}
.dark .lk a.lmr{background: #2d333b;border: 1px solid #319bf5;}
.dark .lk a:hover{color:#539bf5;background:#2d333b;}