.mark *{width:auto;height:auto;max-width:100%}
.mark p{line-height:2;text-indent:16px}
.mark{padding:15px;background: #fdfdfd;}
.mark h1,.mark h2,.mark h3{line-height:2.5;font-weight:900;position:relative;padding-left:16px}
.mark h1{font-size:20px}
.mark h2{font-size:18px}
.mark h3{font-size:17px}
.mark img{margin:10px 16px;max-width:calc(100% - 32px);border:1px solid #eee}
.mark h1:after,.mark h2:after,.mark h3:after{content:"";position:absolute;width:6px;height:20px;background:#444;left:0;top:17px;border-radius:3px}
.mark h2:after{height:16px;width:5px;top:14px}
.mark h3:after{width:4px;height:12px;top:16px}
.mark ol,.mark ul{margin:5px;padding-left:30px}
.mark ol li,.mark ul li{padding-left:10px;line-height:1.5}
pre{margin:5px;padding:10px 15px;background: #f3f6f8;overflow-x:auto;display:block;border: 1px solid #e3ebee;}
pre *{line-height:1.7;color:#000}

.pfro{padding:15px;background: #e3ebee;line-height:36px;}
.pfro p span{width:70px}
.pfro p{display:flex;margin:5px 0}
.pfro p b.pta {font-weight: normal;width: calc(100% - 70px)}
.pfro p a{line-height:30px;display:inline-block;font-size:13px;padding:0 10px;background: #feffff;height:30px;margin:3px;border-radius:6px;}
.pfro p a:hover{background: #f9fbfb;color:#5891ab;}
.mark a{color:#5891ab;border-bottom:2px solid;padding:5px;line-height:30px;font-weight:900;text-align:center}
.dark pre::-webkit-scrollbar-thumb{background-color:#222}
.dark pre::-webkit-scrollbar-track{background-color:#2d333b}
.dark .mark a{color:#2d8cb7}
.dark .pfro{background: #2d333b;}
.dark .pfro p a{background:#22272e}
.dark .pfro p a:hover{background:#2d333b;color:#2d8cb7}
.dark pre{background: #111316;border: 1px solid #222b35;}
.dark pre *{color:#ddd}
.dark .dark pre{background:#222}
.dark .mark,.dark .menue{background: #1c2128;box-shadow: unset;}
.dark .mark h1:after,.dark .mark h2:after,.dark .mark h3:after{background:#adbac7}
.dark .mark img{border:1px solid #555}
.hljs .hljs-comment{color:#af5b07}
.hljs .hljs-built_in{color:#068}
.hljs .hljs-property{color:#00c}
.hljs .hljs-regexp{color:#ab0f2b}
.hljs .hljs-type {
    color: #8250df;
}

.hljs .hljs-variable {
    color: #cf222e;
}

.hljs .hljs-operator {
    color: #0550ae;
}

.hljs .hljs-string {
    color: #2da44e;
}

.hljs .hljs-keyword {
    color: #2e7ebd;
}

.hljs .hljs-title.class_ {
    color: #8250df;
}