<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
    <link href="/center/static/css/comm.css" rel="stylesheet" type="text/css">
    <link href="/center/static/css/child.css" rel="stylesheet" type="text/css">
	</head>
	<body>
    <div class="main" id="main" v-cloak v-if="utoken">
     <div class="hd">
       <h1>分类管理</h1>
     </div>
     <div class="mc">
       <div class="sc">
         <button type="button" class="btnblue" @click="query">刷新</button>
         <button type="button" class="btnred" @click="add">添加新分类</button>
       </div>
       <div class="sm">
         <div class="slist" v-if="list[0]">
           <div class="slci alca" v-for="item in list">
             <div class="alicon">
               <img :src="item.icon" />
             </div>
             <div class="alcat">
               <p>分类名称：<span>{{item.name}}</span></p>
               <p>静态地址：<span>{{item.url}}</span></p>
               <p>分类简介：<span>{{item.remark}}</span></p>
             </div>
             <div class="sldo">
               <button type="button" class="do btnblue" @click="edit(item)">编辑</button>
             </div>
           </div>
         </div>
         <div class="slist" v-else>
            <p class="nuli">暂未检索到相关内容</p>
         </div>
       </div>
     </div>
     <div class="pope">
       <div class="tage">
         <div class="tse">
           <h5>{{title}}</h5>
           <div class="tade">分类名称：<input type="text" v-model="item.name" placeholder="请输入分类名称" /></div>
           <div class="tade">静态地址：<input type="text" v-model="item.url" placeholder="请输入分类静态地址" /></div>
           <div class="tade">分类图标：<input type="text" v-model="item.icon" placeholder="请输入分类图标地址" /></div>
           <div class="tade">分类简介：<textarea placeholder="请输入分类简介" v-model="item.remark"></textarea></div>
           <button type="button" class="btnblue" @click="save">保存分类</button>
           <button type="button" class="btngray" @click="clsPop">取消</button>
         </div>
       </div>
     </div>
    </div>
    <script src="/static/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/static/lib/vue/vue.min.js"></script>
    <script src="/static/lib/vue/vue-axios.js"></script>
    <script src="/static/lib/vue/axios.min.js"></script>
    <script src="/center/static/js/comm.js?v=1.0"></script> 
     <script src="/center/static/js/api.js"></script>
     <script src="/static/js/popup.js"></script>  
    <script src="/center/static/js/categoryList.js?v=1.0"></script>  
	</body>
</html>