<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
    <link href="/center/static/css/comm.css" rel="stylesheet" type="text/css">
    <link href="/center/static/css/child.css" rel="stylesheet" type="text/css">
	</head>
	<body>
    <div class="main" id="main" v-cloak v-if="utoken">
     <div class="hd">
       <h1>文章管理</h1>
     </div>
     <div class="mc">
       <div class="sc">
         <input type="text" v-model="search.title" placeholder="文章标题(支持模糊)" />
         <select v-model="search.cid">
           <option v-for="item in category" :value="item.id">{{item.name}}</option>
         </select>
         <select v-model="search.status">
           <option v-for="item in status" :value="item.id">{{item.name}}</option>
         </select>
         <button type="button" class="btnblue" @click="query">搜索</button>
         <button type="button" class="btngray" @click="reset">重置</button>
         <button type="button" class="btnred" @click="add">添加新文章</button>
       </div>
       <div class="sm">
         <div class="slist" v-if="list[0]" >
           <div class="slci" v-for="item in list">
             <div class="slbn">
               <img :src="'/static/upload/banner/'+item.banner">
             </div>
             <div class="slti">
               <h2>
               {{item.title}}
               <span>{{item.category}}</span>
               <span v-if="item.status == 1" class="clgray">{{statusNames[item.status]}}</span>
               <span v-if="item.status == 2" class="clblue">{{statusNames[item.status]}}</span>
               <span v-if="item.status == 3" class="clred">{{statusNames[item.status]}}</span>
               </h2>
               <p>{{item.remark}}</p>
             </div>
             <button type="button" class="do btnblue" @click="edit(item.id)">编辑</button>
           </div>
         </div>
         <div class="slist" v-else>
            <p class="nuli">暂未检索到相关内容</p>
         </div>
       </div>
       <div class="spage" v-if="search.pages <= 7">
         <div v-for="n in search.pages" class="spi" :class="{'ck':search.page == n}" @click="toPage(n)">{{n}}</div>
       </div>
       <div class="spage" v-if="search.pages > 7 && search.page <5">
         <div v-for="n in 5" class="spi" :class="{'ck':search.page == n}" @click="toPage(n)">{{n}}</div>
         <div class="spi" @click="toPage(6)">...</div>
         <div class="spi" @click="toPage(search.pages)">{{search.pages}}</div>
       </div>
       <div class="spage" v-if="search.pages > 7 && search.page >=5 && search.page <= search.pages - 4">
         <div class="spi" @click="toPage(1)">1</div>
         <div class="spi" @click="toPage(search.page-2)">...</div>
         <div class="spi" @click="toPage(search.page-1)">{{search.page-1}}</div>
         <div class="spi ck" @click="toPage(search.page)">{{search.page}}</div>
         <div class="spi" @click="toPage(search.page+1)">{{search.page+1}}</div>
         <div class="spi" @click="toPage(search.page+2)">...</div>
         <div class="spi" @click="toPage(search.pages)">{{search.pages}}</div>
       </div>
       <div class="spage" v-if="search.pages > 7 && search.page >=5 && search.page > search.pages - 4">
         <div class="spi" @click="toPage(1)">1</div>
         <div class="spi" @click="toPage(search.pages - 5)">...</div>
         <div class="spi" :class="{'ck':search.page == search.pages - 4}" @click="toPage(search.pages - 4)">{{search.pages-4}}</div>
         <div class="spi" :class="{'ck':search.page == search.pages - 3}" @click="toPage(search.pages - 3)">{{search.pages-3}}</div>
         <div class="spi" :class="{'ck':search.page == search.pages - 2}" @click="toPage(search.pages - 2)">{{search.pages-2}}</div>
         <div class="spi" :class="{'ck':search.page == search.pages - 1}" @click="toPage(search.pages - 1)">{{search.pages-1}}</div>
         <div class="spi" :class="{'ck':search.page == search.pages}" @click="toPage(search.pages)">{{search.pages}}</div>
       </div>
     </div>
    </div>
    <script src="/static/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="/static/lib/vue/vue.min.js"></script>
    <script src="/static/lib/vue/vue-axios.js"></script>
    <script src="/static/lib/vue/axios.min.js"></script>
    <script src="/center/static/js/comm.js?v=1.0"></script> 
     <script src="/center/static/js/api.js"></script>
     <script src="/static/js/popup.js"></script>  
    <script src="/center/static/js/postList.js?v=1.0"></script>  
	</body>
</html>