.hd{width:100%;height:40px;position:fixed;left:0;top:0;z-index:10;background: #ffffff;padding:0 15px;display:flex;}
.hd a{width: 30px;height: 30px;margin: 5px;display:block;color: #22272e;line-height: 22px;font-size: 40px;padding-left: 7px;border-radius: 15px;background: #f0f0f0;}
.hd h1{line-height: 30px;font-size: 15px;margin: 5px 0;color: #22272e;background: #f0f0f0;padding: 0 15px;border-radius: 15px;}
.mc{padding: 40px 0 0 0;}
.mcfx{display:flex}
.sc{background:#feffff;padding:15px;display:flex;margin:20px;border-radius: 10px;}
input,select{outline:0;border:1px solid #ddd;height:40px;min-width:200px;padding:0 10px;background:#fbfbfb;border-radius: 10px;}
.sc *{margin-right:15px;border-radius: 10px;}
.spage{margin:15px;display:flex}
.spi{margin:5px;width:36px;line-height:36px;background:#fff;text-align:center;cursor:pointer;border-radius: 18px;}
.spi.ck{background:#ddd}
button{border:0!important;cursor:pointer;border-radius: 10px;}
.sc button{min-width:unset;font-weight:900;height:40px;color:#f0f0f0;padding:0 30px;}
h1,h2{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.slci{display:flex;width: calc(100% - 30px);margin: 5px 20px;padding: 10px;background: #feffff;border-radius: 10px;border-bottom: 2px solid #ddd;flex-wrap: wrap;overflow: hidden;}
.slci:hover{border-bottom: 2px solid #a1c4d5;}
.slist{display:flex;flex-wrap:wrap;width:100%}
.slbn{width: 75px;height: 50px;overflow:hidden;}
.slbn img{width:100%;height:100%;display:block;border-radius: 10px;}
.sldo{width: 50px;}
.slst{width:100px;text-align:center}
.slst span{line-height:30px;margin:10px auto;background:#ddd;width:90px;display:block;font-size:14px;font-weight:900;border-radius: 10px;}
.slti{width: calc(100% - 125px);padding-left: 10px;}
.slti h2{line-height: 26px;font-size: 18px;display: flex;}
.slti p{line-height: 24px;font-size: 13px;color: #888;text-overflow:ellipsis;white-space: nowrap;overflow:hidden;}
.eel{width: calc(100% - 250px);height: calc(100vh - 60px);overflow-y:auto;}
.eel .sm,.eer .sm{flex-wrap:wrap}
.eer{width: 240px;margin-left: 10px;}
.ibann *{width:100%;display:block;height:100%;border-radius: 10px;}
.ibann span{line-height:168px;text-align:center;font-size:20px;border:2px dotted #ddd;color:#ccc;background: #fff;font-weight:900;border-radius: 10px;}
.ibann{display:block;width:100%;height: 160px;margin-bottom:7px;}
.pli input,.pli select{width:100%;display:block}
.pli{width:100%}
.eer .pli{margin: 10px 0;}
.pli.plt{margin-top:15px}
.pli textarea{width:100%;resize:none;border:1px solid #ddd;height:60px;line-height:30px;padding:0 10px;background:#fbfbfb;border-radius: 10px;}
.savebtn{margin-top:7px;width:100%}
.savebtn button{display:block;line-height:40px;width:100%;font-weight:900;color:#fff}
.tageare{height: calc(100vh - 450px);overflow-y:auto;position:relative;}
.tagShow{height: calc(100vh - 490px);overflow-y:auto;padding:5px;border-radius: 10px;background: #fff;border: 1px solid #ddd;}
.tse{position:relative}
.tse p{line-height:40px;text-align:center;color:#aaa}
.tse em{position:absolute;right:-8px;top:-10px;display:block;line-height:30px;width:30px;height:30px;border-radius:15px;background:#3790b9;text-align:center;font-style:normal;cursor:pointer;color:#f0f0f0}
.tagShow.tagfix{position:absolute;z-index:11;background:rgba(255,255,255,0.9);border-color: #ddd;width:100%;overflow-x:hidden;border-radius: 10px;}
.tse button{display:block;line-height:36px;width:80%;font-weight:900;color:#feffff;margin:5px 10%}
.tse h5{line-height:40px;text-align:center;color:#3790b9}
.tade input{line-height:36px;height:36px;margin:5px 0}
.tade textarea{margin:5px 0}
.tse span{line-height:30px;padding:0 15px;margin:3px;display:inline-block;background: #f0f0f0;position:relative;cursor:pointer;font-size: 13px;border-radius: 15px;}
.tse span b{position:absolute;width:18px;height:18px;display:block;right:-5px;top:-5px;line-height:15px;font-size:12px;background:#3790b9;text-align:center;border-radius:9px;color:#f9f9f9;cursor:pointer}
.pope{position:fixed;top:0;left:0;width:100%;height:100%;z-index:100;background:rgba(0,0,0,0.5);opacity:0;display:none}
.tage{position:absolute;width:500px;height:400px;padding:15px;background:#fff;left:calc(50% - 250px);top:calc(50% - 200px);transform:scale(0.8)}
.popup .pope{opacity:1}
.popup .tage{transform:scale(1)}
.alcat{width:calc(100% - 70px)}
.alicon{width:65px;height:65px;margin:5px 5px 5px 0}
.alicon img{display:block;width:100%;height:100%}
.alca .sldo{position:absolute;right: 10px;top: 0;}
.alca{width: calc(25% - 40px);position:relative;}
.alcat p{line-height:25px;font-size:13px;display:flex;align-items:center}
.alcat p span{width:calc(100% - 70px);padding-left:5px;color:#222;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.alcat p span img{width:30px;height:30px;border:0}
.tage textarea{width:calc(100% - 75px);resize:none;border:1px solid #ddd;height:60px;line-height:30px;padding:0 10px;background:#fbfbfb}
.tage .tade{display:flex;align-items:center}
.tage input{width:calc(100% - 75px)}
.tage .tse h5{line-height:50px;font-size:20px}
.tage .tse button{margin-top:15px}
.slci.tlag{width:calc(20% - 10px)}
.tlag .alcat{width:100%}
.comli{width:calc(50% - 10px);display:flex;border-bottom:1px solid #ddd;padding-bottom:40px;margin-bottom:5px;position:relative}
.lavt{width:70px}
img.cmavt{width:60px;margin:0 5px;border-radius:30px;box-shadow:1px 2px 3px #aaa}
.lavt *{text-align:center;line-height:20px}
.lavt p{font-weight:900;line-height:30px}
.comli button.btnblue{display:block;width:100%;color:#fff;position:absolute;right:5px;bottom:5px;line-height:28px;width:100px}
.cminf{width:calc(100% - 70px);margin-left:10px}
.cminf *{font-style:normal;line-height:25px;font-weight:normal;font-size:12px}
.cminf h1 span{color:#607d8b;font-weight:900}
.cminf h1 em{color:#999}
.cminf h1 b a{font-weight:900;color:#3790b9;padding:0 5px;border-bottom:1px solid}
.cminf p{width:100%;padding:5px 10px;background:#f9f9f9;border-radius:4px;margin-top:5px;overflow:hidden;line-height:20px;font-size:13px}
.fcoms{border:1px dotted #aaa;margin-top:5px;padding:5px;border-radius: 10px;}
.fcoms *{font-size:12px;color:#666;font-style:italic}
.fcoms p span{font-weight:900;margin-right:10px}
.fcoms p em{font-style:normal}
.fcoms p:nth-child(1){background:unset;line-height:1;padding:2px;margin:0;font-size:12px}
button.btnblue.bl2{right:120px}
.tage.comme{width:800px;min-height:300px;height:auto;left:calc(50% - 400px);top:100px}
.tade a{line-height:25px;padding:0 5px;border-bottom:1px solid;color:#3790b9;font-weight:900}
.tage.comme .tse button{display:inline-block;width:30%;margin:15px 1.5%;float:left}
.popb .tage.comme .tse button{width:46%;margin:15px 2%}
.tade .fcoms{width:calc(100% - 75px);padding:2px 5px}
.tade .fcoms p{text-align:left;line-height:20px;color:#666;font-style:normal}
.input, .output,textarea#md{
    border-radius: 10px;
}
.slti h2 span {
    line-height: 18px;
    font-weight: normal;
    font-size: 12px;
    height: 20px;
    margin: 3px 0 3px 10px;
    border: 1px solid #888;
    color: #666;
    border-radius: 8px;
    text-align: center;
    padding: 0 6px;
}
.slci .do {
    width: 40px;
    height: 36px;
    line-height: 36px;
    margin: 14px 0 0 10px;
    font-size: 13px;
}
.mcfx.pe {
    padding: 60px 20px 0px 20px;
}

.pe input, .pe select, .pe textarea {
    background: #fff;
}
button.btnblue{background:#3790b9;color: #f0f0f0;}
button.btngray{background:#9e9e9e}
button.btnred{background:#b93749}
button.btnblack{background:#333}
.clblue{color:#3790b9!important}
.clgray{color:#111!important}
.clgreen{color:#009688!important}
.clred{color:#b93749!important}