.fl {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.leare {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    top: 0;
    left: 0;
}

.lmenu {
    width: 100px;
    background: #22272e;
    overflow: hidden;
    padding-top: 25px;
}

.lmenu p {
    width: 80%;
    margin: 25px 20%;
    text-align: center;
    height: 50px;
    box-shadow: 0 0 2px #607d8b;
}

.lmenu p a {
    line-height: 50px;
    display: block;
    font-weight: 900;
    font-size: 18px;
    color: #f0f0f0;
}

.lmenu p.mck {
    background: #f0f0f0;
    width: 90%;
    margin: 25px 10%;
}

.lmenu p.mck a {
    color: #22272e;
}

.lmenu p.mred {
    background: #607d8b;
}
.lright {
    width: calc(100% - 100px);
}
.showLogin .leare {
    opacity: 1;
}
iframe#content {
    border: 0;
}
.login {
    width: 400px;
    height: 300px;
    background: #22272e;
    position: absolute;
    left: calc(50% - 200px);
    top: calc(50% - 150px);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px #000;
    opacity: 0;
}
.showLogin .login {
  top: calc(50% - 200px);
  opacity: 1;
}
.line {
    margin: 25px;
    text-align: center;
    line-height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 5px;
}

.line h1 {
    font-size: 20px;
    color: #f0f0f0;
}

.line p {
    width: 80px;
    font-size: 16px;
    height: 35px;
    font-weight: 900;
    border-right: 2px solid #22272e;
    background: #f0f0f0;
    color: #22272e;
}

.line input {
    width: calc(100% - 80px);
    line-height: 35px;
    border: 0;
    outline: 0;
    background: #f0f0f0;
    padding: 0 5px;
    color: #22272e;
}

button {
    outline: 0;
    border: 0;
    width: 200px;
    line-height: 40px;
    background: #fff;
    cursor: pointer;
}
.line button {
    border-radius: 10px;
    background: #607d8b;
    font-weight: 900;
    font-size: 18px;
    color: #f0f0f0;
}